{% extends 'salmobase/base.html' %}
{% load static %}

{% block head %}
<!-- <link rel='stylesheet' type='text/css' href="{% static 'genes/css/details.css' %}"></style> -->
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
 
<style>
      .fa-rotate-45 {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .fa-rotate-135 {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
</style>
{% endblock head %}

{% block content %}
<div class='container-fluid d-flex p-0'>
    <!-- Side bar -->
    <div class="col-1.5 p-2 border-end">
        <div class="list-group list-group-flush sticky-top" style="z-index: 100;">
            <a href="#" class="list-group-item list-group-item-action border-0 text-center">
                <i class="bi-chevron-bar-up"></i>
            </a>
            <a href="#genome-browser" class="list-group-item list-group-item-action border-0">Genome browser</a>
            <a href="#orthology" class="list-group-item list-group-item-action border-0 pb-0">Orthology</a>
            <div class="border-0 p-0 ps-2">
                <a href="#gene-tree" class="list-group-item list-group-item-action border-0 pb-0 small">Gene tree</a>
                <a href="#synteny" class="list-group-item list-group-item-action border-0 pb-0 small">Synteny</a>
            </div>
        </div>
    </div>

    <!-- Gene page -->
    <div class="col m-0">
        <!-- Header -->
        <div id="gene-header" class="container-fluid bg-light p-4 border-start" style="border-left: 10px solid #0072BC !important;">
            <div class="d-lg-flex align-items-center">
                <h1 class="me-2" id='geneName'>{{gene.gene_name}}</h1>
                <h4>{{gene.description}}</h4>
            </div>
            <div class="d-flex">
                <span class="badge rounded-pill bg-secondary">
                    <abbr title="gene ID source">{{gene_id_type}}</abbr>: 
                    <span id='geneId'>{{gene.gene_id}}</span>
                    {% if gene_id_link != "" %}
                        <a href={{gene_id_link}} target="_blank"><i class="bi-box-arrow-up-right" style="color:white;"></i></a>
                    {% endif %}
                </span>
                <span class="badge rounded-pill bg-primary" id='geneSpecies'>{{gene.species}}</span>
                <span class="badge rounded-pill bg-info" id='geneAssembly'>{{gene.asm}}</span>
            </div>
        </div>

        <!-- cross-annotaion refences -->
        <div id="xref" class="p-4 border-bottom">
            <div class="d-flex">
                {% for ref in xref %}
                    {% if forloop.first %} Alternative annotations: {% endif %}
                    <span class="badge rounded-pill bg-secondary">
                        <span id="ann_other">{{ref.ann_other}}</span>:
                        <a href="{% url 'genes:index' %}id/{{ref.gene_id_other}}?assembly={{ref.asm}}" style="color:white;"> 
                            <span id="gene_id_other">{{ref.gene_id_other}}</span>
                        </a>
                    </span>
                {% endfor %}
            </div>
        </div>

        <!-- Browser -->
        <div id="genome-browser" class="p-4 border-bottom">
            <div class="d-md-flex pb-2 align-items-center">
                <h4 class="pe-4 m-0">Genome browser</h4>
                <ul class="list-group list-group-horizontal align-items-center">
                    <li class="list-group-item bg-light smaller p-1">Locus:</li>
                    <li class="list-group-item smaller p-1">{{gene.seqname}}:{{gene.start}}..{{gene.end}}</li>
                </ul>
                <form action="{% url 'jbrowse:index' %}" method="GET">
                    <button type="submit" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Full view">
                        <i class="bi-box-arrow-up-right"></i>
                        <input type="hidden" name="assembly" value='{{gene.asm}}'>
                        <input type="hidden" name="loc" value='{{jbrowse_data.location}}'>
                        <input type="hidden" name="tracks" value='{{annotation_tracks}}'>                        
                    </button>
                </form>
            </div>
            <div id='jbrowse'></div>
        </div>

        <!-- Orthology -->
        <div id="orthology" class="p-4 border-bottom">
            <h3 class="pb-2">Orthology</h3>
            <!-- Gene tree -->
            <div id="gene-tree" class="pb-2">
                <div class="d-sm-flex pb-2 align-items-center">
                    <h5 class="pe-4 m-0">Gene cds phylotree</h5>
                    <ul class="list-group list-group-horizontal align-items-center">
                      <li class="list-group-item bg-light smaller p-1"><abbr title="Orthogroup">  </abbr></li>
                        <li class="list-group-item smaller p-1" id='og'>{{gene.og}}</li>    
                    </ul>
                </div>

                <div class="btn-toolbar" role="toolbar" id="toolbar">
                    <div class="btn-group">
                        <!-- expand vertial buttons -->
                        <button type="button" class="btn btn-light btn-sm" data-direction="vertical" data-amount="1" title="Expand vertical spacing">
                            <i class="fa fa-arrows-v"></i>
                        </button>
                        <button type="button" class="btn btn-light btn-sm" data-direction="vertical" data-amount="-1" title="Compress vertical spacing">
                            <i class="fa  fa-compress fa-rotate-135"></i>
                        </button>
                        <!-- expand horizonal buttons -->
                        <button type="button" class="btn btn-light btn-sm" data-direction="horizontal" data-amount="1" title="Expand horizonal spacing">
                            <i class="fa fa-arrows-h"></i>
                        </button>
                        <button type="button" class="btn btn-light btn-sm" data-direction="horizontal" data-amount="-1" title="Compress horizonal spacing">
                            <i class="fa  fa-compress fa-rotate-45"></i>
                        <!-- align tips buttons -->    
                        <button type="button"  class="btn btn-light btn-sm active phylotree-align-toggler" data-align="left">
                            <i class="fa fa-align-left"></i>
                        </button>
                        <button type="button" class="btn btn-light btn-sm phylotree-align-toggler" data-align="right">
                            <i class="fa fa-align-right"></i>
                        </button>    
                        <!-- download button-->
                        <button type="button" class="btn btn-light btn-sm download_genetree" >
                            <i class="fa fa-download"></i>Download
                        </button>

                    </div>
                </div>
                <svg id="tree_display"></svg>
                <div id="orthotree-spinner" class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <!-- Synteny -->
            <div id="synteny" class="pb-2">
                <div id="gene-tree" class="pb-2">
                    <div class="d-sm-flex pb-2 align-items-center">
                        <h5 class="pb-2 m-0">Synteny</h5>
                    </div>
                <div id='synteny_display'></div>
                <div id="synteny-spinner" class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<!-- jbrowse component javascript -->
<script src="https://unpkg.com/regenerator-runtime@0.13.1/runtime.js"></script>
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"  crossorigin></script>
<script src="https://unpkg.com/@jbrowse/react-linear-genome-view/dist/react-linear-genome-view.umd.development.js" crossorigin></script>
{{ jbrowse_data|json_script:"jbrowse_data" }}
<script src="{% static 'genomes/js/jbrowse/add_jbrowse_linear_view.js' %}"></script>


<!-- orthotree -->
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" charset="utf-8"></script>
<link rel="stylesheet" href="{% static 'genes/css/phylotree.css' %}">
<script src="{% static 'genes/js/phylotree.js' %}"></script>
<script>
    function draw_geneTree(div_name, tree_nhx, target_gene, genesMeta, gene_url){
        $("[data-direction]").on("click", function(e){
            var which_function =
                $(this).data("direction") == "vertical"
                ? tree.spacing_x.bind(tree)
                : tree.spacing_y.bind(tree);
            which_function(which_function() +$(this).data("amount")).update();
        })
        $(".phylotree-align-toggler").on("click", function(e) {
            var button_align = $(this).data("align");
            var tree_align = tree.options.align_tips;
            if (tree_align != button_align) {
                tree.align_tips(button_align == "right");
                $(".phylotree-align-toggler").toggleClass("active");
                tree.update();
            }
        });
        $(".download_genetree").on("click", function(e) {
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(tree_nhx));
            element.setAttribute('download', "{{gene.og}}.nhx");
            element.style.display = 'none';
            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);
        })
        var tree_adjust_long_branch = tree_nhx.replace(":100000[&&NHX",":1[&&NHX:L=Y")
        tree_adjust_long_branch = tree_adjust_long_branch.replace(":99999.[0-9][&&NHX",":1[&&NHX:L=Y")
        var the_tree = d3.layout.newick_parser(tree_adjust_long_branch)
        var tree = d3.layout.phylotree()
            .svg(d3.select(div_name))
            .align_tips(true)
        tree(the_tree)
            .traverse_and_compute ((node,datum) =>{
                if (node.annotation){
                    let attribute_dict = {};
                    node.annotation.split(":").forEach ((d)=>{
                        let tag_value = d.split("=");
                        if (tag_value.length == 2){
                            attribute_dict[tag_value[0]] = tag_value[1];
                        }
                    });
                    node['nhx_attributes'] = attribute_dict;
                    //node['idx'] = -1;
                    if (!node['nhx_attributes']['B']){//if node is a tip
                        if ( node['name'] in genesMeta){
                            node['genesMeta'] = genesMeta[node['name']];
                            node['name'] = node['genesMeta']['displayName']
                        }
                        /*for  (let i = 0; i < genesMeta.length; i++){
                            if (node['name']  == genesMeta[i].gene_id+"_"+genesMeta[i].species){
                                node['name'] = genesMeta[i].gene_name+"_"+genesMeta[i].species
                                node['species'] = genesMeta[i].species
                                {% comment %} node['gene_name'] = genesMeta[i].gene_name {% endcomment %}
                                node['gene_id'] = genesMeta[i].gene_id
                                node['idx'] = i
                            }
                        }*/
                    }
                }
            })
            .style_edges((element,edge)=>{
                var node = edge.target;
                // extremely long edges are drawn using dash lines
                if (node['nhx_attributes'] && node['nhx_attributes']['L'] && (node['nhx_attributes']['L'] == "Y")){
                    element.style("stroke-dasharray", ("5, 5"))
                }
            })
            .style_nodes((element,node)=>{
                if (node['nhx_attributes'] && node['nhx_attributes']['D'] && (node['nhx_attributes']['D'] == "Y")){
                    element.selectAll("circle").style("fill","red") 
                } else {
                    element.selectAll("circle").style("fill","blue") 
                }
                
                if ('genesMeta' in node){
                    element.selectAll("text").on('click', handleMouseClickGene)
                    element.selectAll("text").attr('url', function(d) { 
                        return d['genesMeta']['url']
                    })
                    if (node.genesMeta.gene_id == target_gene) {
                        element.style('font-weight','bold')
                    }
                } else{
                    element.style("fill","LightGray")
                }
            })
            .layout();  
            function handleMouseClickGene(d) {
                window.location.assign(gene_url + this.getAttribute('url'))
            }    
    }
</script>
<script>
    $(document).ready(function() {
        $.ajax({
            url: "{% url 'genes:orthogroup' %}",
            type: 'GET',
            data: {
                'og': $('#og').text(),
            },
            async: true,
            beforeSend: function() {
                $('#orthotree-spinner').show()
            },
            complete: function() {
                $('#orthotree-spinner').hide()
            },
            success: function(response) {
                var div_name = "#tree_display"
                var tree_nhx = response.cds_tree
                var target_gene = '{{gene.gene_id}}'
                var gene_url = "{% url 'genes:index' %}"
                var genesMeta = response.genesMeta
                draw_geneTree(div_name, tree_nhx, target_gene, genesMeta, gene_url)
            },
            error: function(result) {}
            });
        });
</script>

<!-- synteny -->
<script src="{% static 'genes/js/synteny.js' %}"></script>
<script>
    $(document).ready(function() {
        $.ajax({
            url: "{% url 'genes:synteny' %}",
            type: 'GET',
            data: {
                'og': '{{gene.og}}',
                'gene_id': '{{gene.gene_id}}',
            },
            async: true,
            beforeSend: function() {
                $('#synteny-spinner').show()
            },
            complete: function() {
                $('#synteny-spinner').hide()
            },
            success: function(response) {
                    console.log(response.message)
                    var div_name = '#synteny_display'
                    var data = response.orthologs
                    var target_gene = '{{gene.gene_id}}'
                    var gene_url = "{% url 'genes:index' %}id/"
                    draw_synteny(div_name, data, target_gene, gene_url)
            },
            error: function(result) {}
        });
    });
</script>
{% endblock scripts %}

