{% extends 'salmobase/base.html' %}
{% load static %}

{% block content %}
<h2>Check out genes</h2>
<h3>Search for a gene above, or click these examples:</h3>
<ul>
    <li><a href="{% url 'genes:geneByName' 'AtlanticSalmon' 'elov1' %}"><h3>elov1</h3></a></li>
    <li><a href="{% url 'genes:geneByName' 'AtlanticSalmon' 'lars' %}"><h3>lars</h3></a></li>
</ul>
{% endblock content %}