{% extends 'salmobase/base.html' %}
{% load static %}

{% block head %}
<!-- <link rel='stylesheet' type='text/css' href="{% static 'genes/css/search.css' %}"></style> -->
{% endblock head %}

{% block content %}

<div class='container-flex p-4'>
    <!-- search result header -->
    <div class="text-center">
        {% if nshown != nhits  %}
        Showing hits {{i_from}}..{{i_to}} of 
        {% endif %}
        <span class="badge rounded-pill bg-success">{{nhits}}</span>
        <span class="align-middle"> hits for '<em>{{q}}</em>'</span>
    </div>
    <div class="text-center">
        {% if filter.assembly != '' %}
        in assembly: {{filter.assembly}}
        {% endif %}
        {% if  filter.annotation != '' %}
        annotation source: {{filter.annotation}}
        {% endif %}
    </div>
    <div class="text-center">
        <span id="prev"></span>
        <span id="next"></span>
    </div>

    <!-- search result table -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Species</th>
                <th scope="col">Assembly</th>
                <th scope="col">Annotation</th>
                <th scope="col">Gene ID</th>
                <th scope="col">Gene Name</th>
                <th scope="col">Description</th>
                <th scope="col">Locus</th>
            </tr>
          </thead>
          <tbody>
            {% for gene in results %}
            <tr data-href="{% url 'genes:gene' gene.source.gene_id %}?assembly={{gene.source.asm}}">
                <td>{{gene.source.species}}</td>
                <td>{{gene.source.asm}}</td>
                <td>{{gene.source.ann}}</td>
                <td>{{gene.highlight.gene_id|first|safe}}</td>
                <td>{{gene.highlight.gene_name|first|safe}}</td>
                <td>{{gene.highlight.description|first|safe}}</td>
                <td>{{gene.source.seqname}}:{{gene.source.start}}..{{gene.source.end}} {{gene.source.strand}}</td>
            <tr>
            {% endfor %}
          </tbody>
    </table>
</div>
{% endblock content %}

{% block scripts %}
<script>
    if( {{i_from}} > 1 ){
        let el = document.getElementById('prev')
        let link = document.createElement('a')
        link.innerHTML="prev"
        link.href="{% url 'genes:search' %}?q={{q}}"+
                  "&from=" + Math.max(1,{{i_from}} - 100) + 
                  "&to=" + Math.max(1,{{i_from}} - 1) +
                  "&assembly={{filter.assembly}}" + 
                  "&annotation={{filter.annotation}}"
        el.appendChild(link)
    }
    if( {{i_to}} < {{nhits}} ){
        let el = document.getElementById('next')
        let link = document.createElement( 'a')
        link.innerHTML="next"
        link.href="{% url 'genes:search' %}?q={{q}}"+
                  "&from=" + Math.min({{nhits}},{{i_to}} + 1) + 
                  "&to=" + Math.min({{nhits}},{{i_to}} + 100) +
                  "&assembly={{filter.assembly}}" + 
                  "&annotation={{filter.annotation}}"
        el.appendChild(link)
    }
    //  Make table rows clickable
    $(function(){
        $('.table tr[data-href]').each(function(){
            $(this).css('cursor','pointer').hover(
                function(){ 
                    $(this).addClass('active'); 
                },  
                function(){ 
                    $(this).removeClass('active'); 
                }).click( function(){ 
                    document.location = $(this).attr('data-href'); 
                }
            );
        });
    });
</script>
<!-- <script>
    function toggleHidden(id) {
        var x = document.getElementById(id);
        if (x.hidden == true) { x.hidden = false } else { x.hidden = true }
    }
</script> -->
{% endblock scripts %}