.blastInput {
    display: flex;
    flex-direction: column;
    /* background-color: var(--color4); */
    padding: 20px;
    width: fit-content;
    margin: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.blastInput div {
    margin-top: 5px;
}

#submit {
    width: fit-content;
}

.blastResult {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

.hsp {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    margin-bottom: 20px;
}

.hsp div {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.hsp p {
    margin: 0;
    padding-bottom: 5px;
    padding-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

.title {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title p {
    font-family: sans-serif;
    font-size: medium;
    font-weight: normal;
    margin: 0;
    padding: 5px;
}

.hsp em {
    font-family: sans-serif;
    color: inherit;
}

.alignment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alignmentText {
    overflow-x: scroll;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    white-space: nowrap;
}

em {
    font-style: normal;
    color: var(--color5);
}

#genome_browser {
    margin: 0;
    padding: 0;
}

#browserButton {
    font-size: small;
    height: fit-content;
}