{% extends 'salmobase/base.html' %}
{% load static %}

{% block content %}
<iframe id="jbrowse-frame" class="container-fluid p-0" style='height: calc(100vh - 56px);' src="{{jbrowse_url}}"></iframe>
<script>
  const iframe = document.getElementById('jbrowse-frame');
  let urlQueryString = window.location.search;
  const urlParams = new URLSearchParams(urlQueryString);

  // inject dynamic config to urlQueryString
  if( !urlParams.has("config") ){
    if( urlQueryString == '' )
      urlQueryString = '?'
    else
      urlQueryString += '&'
    urlQueryString += 'config=/jbrowse/config.json'
  }

  // pass urlQueryString to iframe
  iframe.src += urlQueryString;

  const jbrowse_url = "{{jbrowse_url}}".split('?')[0]
  var currentIframeUrlQueryString = urlQueryString;

  // Set an interval to check for changes in the iframe URL
  setInterval(function() {
    // check if iframe is still in jbrowse
    if( iframe.contentWindow.location.pathname != jbrowse_url ){
      return;
    }

    // Get the current query string of the iframe
    let iframeQueryString = iframe.contentWindow.location.search;

    // Check if the query string has changed
    if (iframeQueryString !== currentIframeUrlQueryString) {
      // Update the current query string
      currentIframeUrlQueryString = iframeQueryString;

      // remove config parameter from the query string
      let tmp = new URLSearchParams(iframeQueryString);
      tmp.delete('config');
 
      // Update the URL of the parent page
      window.history.pushState({}, '', window.location.pathname + '?' + tmp.toString());
    }
  }, 1000); // Set the interval to check every second
</script>
{% endblock content %}