{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Salmobase</title>
    <!-- CSS -->
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">       
    <!-- Bootstrap icons: https://icons.getbootstrap.com/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- Title font -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <!-- Cookie consent -->
    <link href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" rel="stylesheet">
    <!-- Animations -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" rel="stylesheet">
    <!-- Local -->
    <link href="{% static 'salmobase/css/bootnavbar.css' %}" rel="stylesheet">
    <link href="{% static 'salmobase/css/autocomplete.css' %}" rel="stylesheet">

    {% block head %}
    {% endblock head %}
</head>

<body>
    <!-- Google analystics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id="+"{{google_analytics_id}}"></script>
	<script>
      window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', '{{google_analytics_id}}'); 
	</script>

    <!-- Header -->
    {% include "salmobase/header.html" %}
    
    <!-- Content -->
    {% block content %}
    {% endblock content%}

    <!-- Scripts -->
    <script src="{% static 'salmobase/js/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- Search autocomplete -->
    <script src="{% static 'salmobase/js/autocomplete.js' %}"></script>
    <script>
        autocomplete(
            input = document.getElementById("autocomplete-input"), 
            output = document.getElementById("autocomplete-output"), 
            search_url = "{% url 'genes:search' %}", 
            click_url = "{% url 'genes:index' %}"
        )
    </script>
    <!-- cookies consent -->
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
        window.cookieconsent.initialise({
            palette: {
                popup: {background: "#fff"},
                button: {background: "#aa0000"},
            },
            theme: "classic",
            position: "bottom",
            content: {
                message: "To comply with the EU GDPR regulation (General Data Protection Regulation), we would like to inform you that salmobase uses cookies to ensure you get the best experience on our website.",
            },
            revokable:true,
            onStatusChange: function(status) {
                console.log(this.hasConsented() ? 'enable cookies' : 'disable cookies');
            },
            law: {
                regionalLaw: false,
            },
        });
    </script>
    <!-- cookies consent -->
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>