{% load static  %}
{% url 'home' as home_url %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="main_navbar">
  <div class="container-fluid">
      <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Nav left -->
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
      <!-- Nav Links -->
      <ul class="navbar-nav me-auto">
        <!-- Genomes -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Genomes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for x,y in all_species.items %}
                <li class="nav-item dropdown">
                  <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    {{ y.name_text }} 
                  </a>
                  <ul class="dropdown-menu">
                    {% for z in y.assemblies%}
                      <li><a class="dropdown-item" href="{% url 'genomes:overview' x z%}">{{z}}</a></li>
                    {% endfor %}  
                  </ul>  
                </li>
            {% endfor %}
          </ul>
        </li>
        <!-- Tools -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Tools
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'jbrowse:index' %}">JBrowse</a></li>
            <li><a class="dropdown-item" href="{% url 'blast:input' %}">BLAST</a></li>
            <li><a class="dropdown-item" href="https://v2.salmobase.org/SalMotifDB/">SalMotifDB</a></li>
          </ul>
        </li>
        <!-- Resources -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <li><h6 class="dropdown-header">Downloads</h6></li> -->
              <li><a class="dropdown-item" href="https://salmobase.org/datafiles/">Browse files</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
              <!-- <li><h6 class="dropdown-header ">API</h6></li> -->
              <!-- <li><a class="dropdown-item disabled" href="#">Site API</a></li> -->
              <!-- <li><a class="dropdown-item disabled" href="#">R</a></li> -->
              <!-- <li><hr class="dropdown-divider"></li> -->
              <!-- <li><h6 class="dropdown-header ">Documentation</h6></li> -->
              <!-- <li><a class="dropdown-item disabled" href="#">Tutorials</a></li> -->
            </ul>
        </li>
        <!-- Help -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Help
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'home' %}#About">About</a></li>
            <li><a class="dropdown-item" href="{% url 'home' %}#Feedback">Feedback</a></li>
            <li><a class="dropdown-item" href="https://gitlab.com/elixir-nmbu/salmobase">Source code</a></li>
          </ul>
        </li>
        </ul>
      </div>
      <!-- Nav middle -->
      <div class="mx-auto order-0">
        <!-- Title -->
        {% if request.get_full_path != home_url %}
          <a class="navbar-brand mx-auto" style="font-family: 'Comfortaa', cursive;" href="{% url 'home' %}">Salmobase</a>
        {% endif %}
      </div>

      {% if request.get_full_path != home_url %}
      <!-- Nav right -->
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <!-- Search bar -->
        <div class="col-md-8 ms-auto">
          {% include "salmobase/searchbar.html" %}
        <div class="position-relative" >
          <div id="autocomplete-output" class="position-absolute top-0 end-0" style="z-index: 10000; overflow-y: auto; height: 600px;"></div>
        </div>
      </div>
      {% endif %}
  </div> <!-- container -->
</nav> <!-- Nav -->
  
<script src="{% static 'salmobase/js/bootnavbar.js' %}"></script>
<script>
  new bootnavbar();
  // (function () {
  // });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function(){
    // make it as accordion for smaller screens
    if (window.innerWidth < 992) {
    
      // close all inner dropdowns when parent is closed
      document.querySelectorAll('.navbar .dropdown').forEach(function(everydropdown){
        everydropdown.addEventListener('hidden.bs.dropdown', function () {
          // after dropdown is hidden, then find all submenus
            this.querySelectorAll('.submenu').forEach(function(everysubmenu){
              // hide every submenu as well
              everysubmenu.style.display = 'none';
            });
        })
      });
    
      document.querySelectorAll('.dropdown-menu a').forEach(function(element){
        element.addEventListener('click', function (e) {
            let nextEl = this.nextElementSibling;
            if(nextEl && nextEl.classList.contains('submenu')) {	
              // prevent opening link if link needs to open dropdown
              e.preventDefault();
              if(nextEl.style.display == 'block'){
                nextEl.style.display = 'none';
              } else {
                nextEl.style.display = 'block';
              }
    
            }
        });
      })
    }
    // end if innerWidth
    }); 
    // DOMContentLoaded  end
  </script>