{% extends 'salmobase/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

  <!-- Title and search -->
  <div class="px-4">
      <h1 class="display-1 mb-4 text-center" style="font-family: 'Comfortaa', cursive;">Salmobase</h1>
      <div class="alert alert-info col-md-3 mx-auto justify-content-center" role="alert">
        Updated 2023-04-11
        (<a href="#Update">What has changed</a>)
      </div>
      <!-- Search bar -->
      <div class="col-md-4 mx-auto justify-content-center">
        {% include "salmobase/searchbar.html" %}
      </div>
      <div class="col-md-8 mx-auto justify-content-center position-relative">
          <div id="autocomplete-output" class="w-100 position-absolute top-0 start-50 translate-middle-x" style="z-index: 1; overflow-y: auto; height: 500px;"></div>
      </div>
  </div>

  <!-- Overview image -->
  <div class="position-relative mb-4" style="top: -20px; z-index: -1;">
      <img src="{% static 'salmobase/img/overview.png' %}" class="img-fluid" alt="overview">
  </div>

  <div class="row mb-5">
    <div class="col-md-8 p-4">
        <h1 id="Update" class="mb-1" style="font-family: 'Comfortaa', cursive;">Updates</h1>
        <div class="border-start ps-3" style="text-align: justify; border-left: 10px solid #0072BC !important;">
          <p class="lead">
            <h3>Update 2023-04-11</h3>
            <ul class="list-unstyled">
              <li>"Genome browser" removed from menu. The genome browser can now be opened from the genome page by clicking on a chromosome or by select JBrowse from the tools menu.</li>
              <li>Link to download choromosomes.tsv on genome page.</li>
              <li>Added tracks:
                <ul>
                  <li>Comparative genome alignments for salmon and trout</li>
                  <li>Comparative ortholog/paralog tracks</li>
                </ul>
              </li>
            </ul>
            <h3>Update 2023-01-02:</h3>
            <ul class="list-unstyled">
              <li>Added assemblies:
                <ul>
                  <li>Atlantic salmon: Ssal_Brian_v1.0</li>
                  <li>Atlantic salmon: Ssal_ALTA</li>
                </ul>
              </li>
              <li>Gene page now shows link between Ensembl and NCBI annotation</li>
            </ul>
            <h3>Correction 2022-12-05:</h3>
            The assembly that was originally submitted as Arctic char (Salvelinus alpinus) has been corrected to Dolly Varden (Salvelinus malma). See <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0247083">this retraction notice</a>.
            <h3>November 2022 Update:</h3>
            <ul class="list-unstyled">
              <li>Added assemblies:
                <ul>
                  <li>Atlantic salmon: Ssal_v3.1</li>
                  <li>Rainbow trout: USDA_OmykA_1.1</li>
                  <li>Coho salmon: Okis_V2</li>
                </ul>
              </li>
              <li>Now includes both NCBI and Ensembl annotations when available.</li>
              <li>Support for multiple assemblies per species (I.e. old assemblies are still available).</li>
              <li>Added filter for gene search: Search selected species, assembly or annotation.</li>
              <li>New gene trees and ortholog groups for the new species based on Ensembl annotations.</li>
              <li>Chromosome alias: Now possible to load tracks with alternative sequence names. Valid sequence IDs are. refseq, genbank, Ensembl or “sequence name”. Aliases are also displayed when hovering the chromosome on the genome page.</li>
              <li>Gene page URL now uses geneIDs by default (NCBI gene ID or Ensembl gene ID). Gene annotations from earlier assemblies can be accessed by specifying the assembly with a parameter. E.g. https://salmobase.org/genes/id/100306804?assembly=ICSASG_v2</li>
            </ul>
        </div>

      <!-- About -->
        <h1 id="About" class="mb-1" style="font-family: 'Comfortaa', cursive;">About Salmobase</h1>
        <div class="border-start ps-3" style="text-align: justify; border-left: 10px solid #0072BC !important;">
            <p class="lead">
                Salmobase is a tool for making molecular genomic resources for salmonid species publically available in a framework of visualizations and analytic tools.
            <br><br>
                Salmonids are ray-finned fishes which constitute 11 genera and at least 70 species including Atlantic salmon, whitefishes, graylings, rainbow trout, and char. 
                The common ancestor of all Salmonidae experienced a whole genome duplication (WGD) ~80 million years ago, resulting in an autotetraploid genome. 
                Genomic rediplodization is still going on in salmonid species, providing an unique system for studying evolutionary consequences of whole genome duplication. 
                In recent years, high quality genome sequences of Atlantic salmon and Rainbow trout has been established, due to their scientific and commercial values.
            </p>
        </div>

      <!-- Feedback -->
        <h1 id="Feedback" class="mb-1" style="font-family: 'Comfortaa', cursive;">Feedback</h1>
        <div class="border-start ps-3" style="text-align: justify; border-left: 10px solid #0072BC !important;">
            <p class="lead">
                We appreciate your feedback! Please report any issues with the site or suggest a new feature or dataset you would like to see here by 
                <a href = "mailto:incoming+elixir-nmbu-salmobase-21676123-issue-@incoming.gitlab.com">sending an e-mail</a> 
            </p>
        </div>
    </div>

    <!-- Twitter -->
    <div class="col-md-4">
      <a class="twitter-timeline" data-height="400" href="https://twitter.com/salmobase1?ref_src=twsrc%5Etfw">Tweets by salmobase1</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
    
  <!-- Features -->
  <div class="row col-md-10 mx-auto mb-5">
      <h1 class="mb-1" style="font-family: 'Comfortaa', cursive;">Features</h1>
      <div id="carouselCaptions" class="carousel slide carousel-dark border- border-2" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'salmobase/img/feature-gene-details.png' %}" class="d-block w-100" alt="gene-details">
              <div class="carousel-caption" style="background-color: rgba(255, 255, 255, 0.7);">
                <h5>Gene details</h5>
                <p>Shows gene annotation and structure. View and navigate between orthologs in the gene tree or synteny visualisation.</p>
                <a href="{% url 'genes:gene' 'ENSSSAG00000079420' %}?assembly=Ssal_v3.1">Example<i data-feather="chevron-right"></i></a>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'salmobase/img/feature-jbrowse.png' %}" class="d-block w-100" alt="jbrowse">
              <div class="carousel-caption"  style="background-color: rgba(255, 255, 255, 0.7);">
                <h5>Jbrowse2 genome browser</h5>
                <p>View gene annotations, orthologs, genome alignments as well as your own local track files (bigwig,bed,bam,gff,etc..).</p>
                {% comment %} <a href="{% url 'jbrowse:index' %}?assembly=ICSASG_v2&loc=NC_027315.1%3A47947545..47999816&tracks=GCF_000233375.1_ICSASG_v2_genomic_filtered.gff">Example<i data-feather="chevron-right"></i></a> {% endcomment %}
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'salmobase/img/feature-blast.png' %}" class="d-block w-100" alt="blast">
              <div class="carousel-caption"  style="background-color: rgba(255, 255, 255, 0.7);">
                <h5>BLAST search</h5>
                <p>Search for genomic, transcript or protein sequences within an assembly.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'salmobase/img/feature-synteny-blocks.png' %}" class="d-block w-100" alt="synteny-blocks">
              <div class="carousel-caption"  style="background-color: rgba(255, 255, 255, 0.7);">
                <h5>Synteny block overview</h5>
                <p>Overview of the duplicated regions, with LORe/AORe indication.</p>
                <a href="{% url 'genomes:overview' species='RainbowTrout' assembly='USDA_OmykA_1.1' %}#synteny-blocks">Example<i data-feather="chevron-right"></i></a>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
  </div>


  <!-- Footer logos -->
  <div class="row justify-content-evenly align-items-center">
      <div class="col-3 p-4 mt-4">
              <a href="https://elixir.no/">
                  <img src="{% static 'salmobase/img/elixir-logo.png' %}" class="img-fluid" alt="elixir">
              </a>
      </div>
      <div class="col-3 py-auto">
              <a href="https://cigene.no/">
                  <img src="{% static 'salmobase/img/cigene-logo.png' %}" class="img-fluid" alt="cigene">        
              </a>    
      </div>
      <div class="col-3 p-4">
              <a href="https://www.nmbu.no/">
                  <img src="{% static 'salmobase/img/nmbu-logo.gif' %}" class="img-fluid" alt="nmbu">
              </a>
      </div>
  </div>
</div>
{% endblock content %}