<!-- Search bar -->
<form autocomplete="off" action="{% url 'genes:search' %}" method="GET">       
    <div class="input-group border-bottom">
        <span class="input-group-text bg-white border-0">
            <i class="bi-search"></i>
        </span>
        <input id="autocomplete-input" name="q" class="form-control bg-white border-0" type="search" placeholder="Search genes (gene name, id or description)" aria-label="Search genes">
        <!-- <input type="hidden" id="assembly-filter" name="assembly" hidden=true> -->
        <input type="hidden" id="annotation-filter" name="annotation" hidden=true>
        <!-- Search filter dropdown -->
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
          <i class="bi bi-sliders"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="dropdownMenuClickableInside">
          <li><h6>Search filters</h6></li>
          <!-- Species -->
          <li>
            <label for="species-filter"><h6 class="dropdown-header">Species</h6></label>
            <select id="species-filter" class="form-select">
              <option selected value="">Any</option>
              {% for x,y in all_species.items %}
              <option value="{{x}}">{{y.name_text}}</option>
              {% endfor %}
            </select>
          </li>
          <!-- Assembly -->
          {{ all_annotated_assemblies|json_script:"all_annotated_assemblies" }}
          <li>
            <label for="assembly-filter"><h6 class="dropdown-header">Assembly</h6></label>
            <select id="assembly-filter" class="form-select" name="assembly"></select>
          </li>

          <!-- Annotation -->
          <li><h6 class="dropdown-header">Annotation source</h6></li>
          <li>
            <div class="btn-group pb-1" role="group" aria-label="Basic checkbox toggle button group">
              <input type="checkbox" class="btn-check annotation-select" id="annotation-ensembl" value="Ensembl" autocomplete="off">
              <label class="btn btn-outline-secondary" for="annotation-ensembl">Ensembl</label>
            
              <input type="checkbox" class="btn-check annotation-select" id="annotation-ncbi" value="NCBI" autocomplete="off">
              <label class="btn btn-outline-secondary" for="annotation-ncbi">NCBI</label>
            </div>
          </li>
        </ul>
    </div>
  </form>

<script>
  // update assembly filter options when species change
  const all_annotated_assemblies = JSON.parse(document.getElementById('all_annotated_assemblies').textContent);
  const primaryAssemblies = '{{all_primary_assemblies}}'.split(',');
  const spcFilterSelect = document.getElementById('species-filter');
  const asmFilterSelect = document.getElementById('assembly-filter');
  const annFilterSelect = document.getElementById('annotation-filter');
  
  spcFilterSelect.addEventListener('change', (event) => {
    const spc = event.target.value;
    let selectedAsm = '';
    asmFilterSelect.options.length = 0;
    if(spc == ''){
      selectedAsm='{{all_primary_assemblies}}';
      asmFilterSelect.options.add(new Option('Latest', value='{{all_primary_assemblies}}'));
      asmFilterSelect.options.add(new Option('Any', value=''));
    } else {
      all_annotated_assemblies[spc].forEach( asm => {
        if(primaryAssemblies.includes(asm)) selectedAsm=asm;
        asmFilterSelect.options.add(new Option(asm,value=asm));
      });  
    }
    asmFilterSelect.value = selectedAsm;
    asmFilterSelect.dispatchEvent(new Event('change'));
  });
  spcFilterSelect.dispatchEvent(new Event('change'));

  // update annotation filter when either of the options are (un)checked
  const annFilterOptions = document.getElementsByClassName("annotation-select")
  for(const x of annFilterOptions){
    x.addEventListener('change', (event) => {
      let annotation = [];
      for(const y of annFilterOptions){
        if (y.checked) {
          annotation.push(y.value);
        }
      }
      annFilterSelect.value = annotation.join(',');
    })
  }
</script>