{% extends 'salmobase/base.html' %}
{% load static %}

{% block head %}
<link rel='stylesheet' type='text/css' href="{% static 'salmobase/css/tools.css' %}"></style>
{% endblock head %}

{% block content %}
<div class='content'>
    <h1>Tools</h1>
    <div class='tools'>
        <a href="{% url 'jbrowse:index' %}"> Jbrowse </a>
        <a href="{% url 'blast:input' %}"> BLAST search </a>
        <a href="https://salmobase.org/SalMotifDB/" target="_blank"> SalMotifDB </a>
    </div>
</div>
{% endblock content %}
