<head>
    <!-- CSS -->
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">        
    <!-- Bootstrap icons: https://icons.getbootstrap.com/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'salmobase/css/autocomplete.css' %}">
</head>
<p class="lead">
    We appreciate your feedback! Please report any issues with the site or suggest a new feature or dataset you would like to see here by 
    <a href = "mailto:incoming+elixir-nmbu-salmobase-21676123-issue-@incoming.gitlab.com">sending an e-mail</a> 
</p>