<head>
    <!-- CSS -->
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">        
    <!-- Bootstrap icons: https://icons.getbootstrap.com/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'salmobase/css/autocomplete.css' %}">
</head>
<p class="lead"> Salmobase is currently being reconstructed. Some features are still not available and the interface is likely to undergo further changes. If you are looking for the previous version of salmobase it can be found <a href="https://v2.salmobase.org">here</a>.</p>
