{% extends 'salmobase/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-6 mx-auto p-4">
        <!-- Blast search form -->
        <h1 class="display-6 mb-3">BLAST search</h1>
        <form action="{% url 'blast:result' %}">

            <!-- Species select -->
            <div class="input-group p-0 mb-2">
                <label for="selectSpecies" class="input-group-text bg-light">Species</label>
                <select id="selectSpecies" name="species" class="form-select" aria-label="Select species">
                    <!-- <option value="All">All species</option> -->
                  </select>
            </div>

            <!-- Assembly select -->
            <div class="input-group p-0 mb-2">
                <label for="selectAssembly" class="input-group-text bg-light">Assembly</label>
                <select id="selectAssembly" name="assembly" class="form-select" aria-label="Select assembly">
                    <!-- <option value="All">All species</option> -->
                  </select>
            </div>
            
            <!-- Database type select -->
            <div class="input-group p-0 mb-2">
                <label for='dbType' class="input-group-text bg-light">Database</label>
                <select id="dbType" name="dbType" class="form-select" aria-label="Select database type">
                </select>
            </div>

            <!-- Query sequence -->
            <div class="form-floating p-0 mb-2">
                <textarea class="form-control" id='seq' name='seq' style="height: 200px; font-size:0.5em;"></textarea>
                <label for='seq'>Query sequence</label>
            </div>

            <div class="d-flex justify-content-between">
                <!-- Blast type -->
                <div class="form-check input-group p-0 mb-2">
                    <input class="btn-check" type="radio" name="blastType" id="blastn" value="blastn" autocomplete="off" checked>
                    <label class="btn btn-outline-primary rounded-start" for="blastn">blastn</label>

                    <input class="btn-check" type="radio" name="blastType" id="blastp" value="blastp" autocomplete="off">
                    <label class="btn btn-outline-primary" for="blastp">blastp</label>

                    <input class="btn-check" type="radio" name="blastType" id="blastx" value="blastx" autocomplete="off">
                    <label class="btn btn-outline-primary" for="blastx">blastx</label>

                    <input class="btn-check" type="radio" name="blastType" id="tblastn" value="tblastn" autocomplete="off">
                    <label class="btn btn-outline-primary" for="tblastn">tblastn</label>
                </div>

                <!-- Submit button -->
                <div class="p-0 mb-2">
                    <button type="submit" id="submit" class="btn btn-success" disabled=true>BLAST</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}

{{ blastDBlist|json_script:"blastDBlist" }}
{{ primaryAsm|json_script:"primaryAsm" }}

<script>

    // available blast DBs and default assemblies
    const blastDBlist = JSON.parse(document.getElementById('blastDBlist').textContent)
    const primaryAsm = JSON.parse(document.getElementById('primaryAsm').textContent)

    // selectors
    const spcSelect = document.getElementById('selectSpecies');
    const asmSelect = document.getElementById('selectAssembly');
    const dbSelect = document.getElementById('dbType');
    
    let queryHasAA = false;
    let dbIsProtein = false;
    const blastTypeBtns = document.querySelectorAll('input[name="blastType"]')

    function updateBlastType(){
        // disable/enable blast type options based on db type and query type
        document.getElementById('blastn').disabled = dbIsProtein | queryHasAA;
        document.getElementById('blastp').disabled = !dbIsProtein;
        document.getElementById('blastx').disabled = (!dbIsProtein) | queryHasAA;
        document.getElementById('tblastn').disabled = dbIsProtein;

        // If the currently selected option is invalid then select the first valid option
        let selectBlastTypeValid = false
        let firstValidBlastType = ""
        for( const b of blastTypeBtns){
            if(b.checked & !b.disabled){
                selectBlastTypeValid = true;
            }
            if(!b.disabled & firstValidBlastType == ""){
                firstValidBlastType = b.value;
            }
        }
        if(!selectBlastTypeValid){
            document.getElementById(firstValidBlastType).checked=true;
        }
    };

 
    // Populate selectors
    Object.keys(blastDBlist).forEach(function(spc) {
        spcSelect.options.add(new Option(spc));
    });
    
    spcSelect.addEventListener('change', (event) => {
        const spc = event.target.value;
        asmSelect.options.length = 0;
        Object.keys(blastDBlist[spc]).forEach(function(asm) {
            asmSelect.options.add(new Option(asm));
        });
        // select default assembly
        asmSelect.value = primaryAsm[spc]
        asmSelect.dispatchEvent(new Event('change'));
    });

    asmSelect.addEventListener('change', (event) => {
        const asm = event.target.value;
        const spc = spcSelect.value

        const prevSelection = dbSelect.value;
        dbSelect.options.length = 0;
        dbSelect.options.add(new Option(`Whole genome`,`dna`));
        blastDBlist[spc][asm].forEach(function(ann) {
            dbSelect.options.add(new Option(`Transcripts (${ann})`,`rna_${ann}`));
            dbSelect.options.add(new Option(`Proteins (${ann})`,`protein_${ann}`));
        });
        
        // if previous selection is available then choose that
        for ( let i = 0, l = dbSelect.options.length; i < l; i++ ) {
            if ( dbSelect.options[i].value == prevSelection ) {
                dbSelect.value = prevSelection;
                break
            } else {
                dbSelect.dispatchEvent(new Event('change'));
            }
        }

    });

    dbSelect.addEventListener('change', (event) => {
        const dbSelected = event.target.value;
        dbIsProtein = dbSelected.startsWith("protein");
        updateBlastType();
    })


    // select default species
    spcSelect.value = Object.keys(blastDBlist)[0]
    spcSelect.dispatchEvent(new Event('change'));

    const queryText = document.getElementById('seq');
    const blastButton = document.getElementById('submit');

    queryText.addEventListener('input', (event) => {
        const text = event.target.value;
        // Check if there are nucleotide or amino acid sequences in the query
        // ignore header lines
        // TODO: validate that there is only one header line and that it is on top
        const noHeaders = text.replace(/^>.*$/gm,"").toUpperCase();
        const hasNuc = /[ACGT]/.test(noHeaders);
        const hasAA = /[DEFHIKLMPQRSVWY]/.test(noHeaders);

        // if no sequence then don't allow submit
        blastButton.disabled = !(hasAA | hasNuc)

        // assume that query is protein so update valid blast type options
        if(queryHasAA != hasAA){
            queryHasAA = hasAA;
            updateBlastType()
        }
    });

</script>
{% endblock %}