{% extends 'salmobase/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-0">
    <!-- Header -->
    <h1 class="display-4 text-center p-2">{{species_text|capfirst }} <small class="display-6 text-muted">/ {{species_sci}}</small> </h1>
    
    <div id="species-description">{{description|safe}}</div>

    
    <h2>Assembly: {{assembly.asm}}</h2>

    {# TODO: Handle cases where accession does not exist! e.g. unpublished assemblies #}
    <div>Accession: <a href="{{assembly.getGenbankLink}}" target="_blank">{{assembly.sequence.accession}}</a></div>

    <div>
      Genome fasta file <small>(source: {{assembly.sequence.source}})</small>: 
      <a href="{{assembly.getFastaLink}}" target="_blank">{{assembly.getFastaLink}}</a>
    </div>

    <h3>Annotations</h3>
    <ul>
      {% for annSrc, annotation in assembly.annotations.items %}
          <li>{{ annSrc }}: <a href="{{annotation.getGffLink}}" target="_blank">{{annotation.getGffLink}}</a></li>
      {% endfor %}
    </ul>

    <h4 id="chromosome-overview" class="text-center">Chromosome overview</h4>
    <div class="alert alert-info col-md-6 mx-auto justify-content-center">
      Click on a chromosome to open the genome browser.
      Hover on a chromosome for info (e.g. refseq or genbank accessions).
      You can download chromosome info as a table 
      <a href="{{BASE_URL}}/TSV/chromosomes/{{species}}/{{assembly.asm}}/chromosomes.tsv" 
         download="{{assembly.asm}}_chromosomes.tsv">here</a>
    </div>
    
    <div id="chromosome-plot-area" ></div>

    {% if syntenies %}
    <h4 id="synteny-blocks" class="text-center">Synteny blocks</h4>
    <div class="text-center mdl-card__supporting-text" id='chordsChart'></div>
    <br>
    <div class="text-center"><button onclick="download()">Download the synteny blocks data</button> </div>
    {% else %}
    <div class="alert alert-warning col-md-6 mx-auto justify-content-center">
      Note: Synteny blocks not available for this assembly.
    </div>
    {% endif %}


    <!--<h4 class="text-center">Stack chart </h4>
    <div class="text-center mdl-card__supporting-text" id='stackChart'></div> -->
</div>
{% endblock content %}

{% block scripts %}

{# convert chromosomes request to json #}
{{ chromosomes|json_script:"chromosomes" }}
{# convert syntenies request to json #}
{{ syntenies|json_script:"syntenies" }}  
{# convert bands request to json #}
{{ bands|json_script:"bands" }}  

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
<script>
const chromosomes = JSON.parse(document.getElementById('chromosomes').textContent);
const margin = {left:200, right:20, top: 0, bottom:10};
const width = 1180 - margin.left - margin.right;
const height = 200 - margin.top - margin.bottom;

const g = d3.select("#chromosome-plot-area")
    .append("svg")
        .attr("preserveAspectRatio", "xMinYMin meet")
        .attr("viewBox", "180 20 1000 300")
    .append("g")
        .attr("transform", "translate(" + margin.left+ ", " + margin.top + ")");


// create a scale for the x-axis that maps the chromosome names to positions on the x-axis.
const x = d3.scaleBand()
  .domain(chromosomes.map(d => d.chromosome)) 
  .range([0,width])
  .paddingInner(0.4)
  .paddingOuter(0.4);


// Create scale for the y-axis that maps the lengths of the chromosomes to positions on the y-axis.
const y = d3.scaleLinear()
  .domain ([0, d3.max(chromosomes, d => d.length)])
  .range([0,height]);

// create the x-axis with transition effect.
g.append("g")
    .attr("class","x-axis")
    .style("font-size","8px")
    .style("color","#f12d1d")
    .transition()
    .duration(300)
    .attr("transform","translate(0, "+ height / 9 + ")")
    .call( d3.axisBottom(x) );

const tip = d3.tip().attr("class","d3-tip")
    .style("background", "white")
    .html(function (d){
        var text = "<strong>Length:</strong> <span style='color:orange'>" +d3.format(",")(d.length)+" bases</span><br>";
        text += "<strong>Chromosome ID:</strong> <span style='color:orange'>" +d.ID+"</span><br>";
        text += "<strong>RefSeq Accession:</strong> <span style='color:orange'>" +d.refseq_accn+"</span><br>";
        text += "<strong>GenBank Accession:</strong> <span style='color:orange'>" +d.genbank_accn+"</span><br>";
        text += "<strong>Sequence Name:</strong> <span style='color:orange'>" +d.sequence_name+"</span><br>";
        return text;
    });

tip.direction('s');
g.call(tip);

g.selectAll("rect")
  .data(chromosomes)
  .enter()
  .append("a")
    .attr("xlink:href", d => d.link )
  .append("rect")
    .attr("y",40)
    .attr("x", d => x(d.chromosome) )
    .attr("width", x.bandwidth)
    .attr("height", d => y(d.length) )
    .attr("rx","10")
    .on("mouseover",tip.show)
    .on("mouseout",tip.hide);
  
</script>
<script src="{%static 'genomes/js/circos.min.js'%}"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.js'></script>
<script>
  var drawCircos = function(){
    function myFunction(value, index, array) {
      return value.chromosome!="MT";
    }
    const chromosome = JSON.parse(document.getElementById('chromosomes').textContent).filter(myFunction)
    
    var chromosomes = chromosome.map(function(d){
      return{
          id: d.chromosome,
          label: d.chromosome,
          len: d.length
      }
    })
    const synteny = JSON.parse(document.getElementById('syntenies').textContent);  
    const bands = JSON.parse(document.getElementById('bands').textContent);  
    
    var width = document.getElementsByClassName('mdl-card__supporting-text')[0].offsetWidth - 200;
    var circos = new Circos({
      container: '#chordsChart',
      width: width,
      height: width
    })

    anchorgenes = bands.map(function (d) {
      return {
        block_id: d.chrom,
        start: parseInt(d.chromStart),
        end: parseInt(d.chromEnd),
        color: d.color
      }
    })

    data = synteny.map(function (d) {
      return {
        source: {
          id: d.chromosome_x,
          start: parseInt(d.begin_x),
          end: parseInt(d.end_x)
        },
        target: {
          id: d.chromosome_y,
          start: parseInt(d.begin_y),
          end: parseInt(d.end_y)
        },
        color: {
          id: d.color
        },
        info: {
          nb_anchorpoints: d.number_of_anchorpoints,
          aore_count: d.aore_count,
          lore_count: d.lore_count
        }
      }
    })

    circos
      .layout(
        chromosomes,
      {
        innerRadius: width/2 - 80,
        outerRadius: width/2 - 40,
        color: '#000000',
        opacity: 0.5,
        labels: {
          radialOffset: 70
        },
        ticks: {
          display: true,
          spacing: 1000000,
          labelDenominator: 10000000
        },
        events: {
          'click.demo': function (d, i, nodes, event) {
            console.log('clicked on layout block', d, event)
          }
        }
      }
      )
      .highlight('anchorgenes',anchorgenes,{
        innerRadius: width/2 - 80,
        outerRadius: width/2 - 40,
        opacity: 1,
        color: function (d) {
          return d.color
        }
      })
      .chords(
        'l1',
        data,
      {
        logScale: false,
        opacity: 0.7,
        color: function(d){
          return d.color.id
        },
        tooltipContent: function (d) {
          //var text = "<strong>"+d.info.dup+"</strong><br>"
          var text = "<strong>"+d.source.id+":</strong> <span style='color:orange'>" +d3.format(",")(d.source.start)+" : "+d3.format(",")(d.source.end)+"</span><br>"
          text += "<strong>"+d.target.id+":</strong> <span style='color:orange'>" +d3.format(",")(d.target.start)+" : "+d3.format(",")(d.target.end)+"</span><br>"
          text += "<span style='color:orange'>"+d.info.nb_anchorpoints+"</span> anchored gene pairs<br>"
          text += "("+d.info.aore_count+" ancestral ohnolog resolution (AORe), "+d.info.lore_count+" lineage-specific ohnolog resolution (LORe))";
          return text
        },
        events: {
          'mouseover.demo': function (d, i, nodes, event) {
            console.log(d, i, nodes, event.pageX)
          }
        }
      }
      )
      .render()
  }
  if(document.getElementById("chordsChart")){
    drawCircos()
  }
</script>
<script>
  download = function(){
    var fileUrl = '{{BASE_URL}}/TSV/synteny/{{orthology}}/{{species}}/synteny.tsv'
    var fileName = 'synteny_{{species}}_{{assembly.asm}}.tsv'
    var a = document.createElement("a");
    a.href = fileUrl;
    a.setAttribute("download", fileName);
    a.click();
}
</script>
{% endblock scripts %}