
/* .autocomplete {
    the container must be positioned relative:
    position: relative;
    border-radius: 2px;
    width: 100%;
} */
/* 
.navbar-form .autocomplete input[type=text] {
    width: 300px;
} */

/* input {
    border: 1px solid transparent;
    padding: 10px;
    font-size: 16px;
} */

/* .autocomplete input[type=text] {
    background-color: white;
    width: auto;
} */

.autocomplete-items {
    position: absolute;
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 5px;
    cursor: pointer;
    background-color: white;
    border-bottom: 1px solid black;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    font-size: smaller;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    font-weight: bold;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    font-weight: bold;
}